# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3
media/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# IDEs
.idea/

# Misc
*.swp
*.swo
